nav a{
  margin-right: 50px;
}
nav button{
  margin-right: 50px;
}
.mask{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background: rgba(57, 60, 65, 0.7);
    z-index: -1;

}
.bg{
     /* position: fixed; */
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
.buy{
  background-color: black;
  color: white;
  padding: 50px;
}
.card-image{
  height: 130px;
}
.card:hover{
   transform: scale(1.25);
}
.about{
  padding: 30px;
  margin: 10px 70px;
  border: 2px solid;
  border-radius: 5%;
  border-color: orangered;
}
.fit-gif{
  max-height: 100%;
  max-width: 100%;
  
}
.mandatory{
  color: red;
}
.sign-in{
  width: 50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: ;
   border: inset;
   border-radius: 5%;
   padding: 30px 30px;
   background-color: whitesmoke;
}
footer{
  padding: 10px;
  background-color: black;
}
.carousel-item, .carousel-item img
{
  height: 700px;
}
#trainers{
  padding-left: 60px;
}
h7{
  color: #F47340;
}
.stud{
  color: #F14A16;
}
.home1{
  padding-bottom: 20px;
  padding-top: 0.5px;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
#car-2{
  color: #FFFDDE;
  letter-spacing: 1.5PX;
  font-size: 120px;
  font-weight: bold;
  opacity: 0.6;
  margin-bottom: 150px;
  font-family: 'Roboto Condensed', sans-serif;
}